.text {
    font-family: Nunito, serif;
    color: black;
}

.red {
    color: #f44336;
}

.grey {
    color: #7b8e98;
}

.yellow {
    color: #ffe44d;
}

.head-0 {
    font-size: 48px;
    font-weight: 900;
}

.head-1 {
    font-size: 28px;
    font-weight: 800;
}

.head-2 {
    font-size: 24px;
    font-weight: 800;
}

.head-3 {
    font-size: 20px;
    font-weight: 800;
}

.extra {
    font-size: 72px;
    font-weight: 800;
}

.paragraph-1 {
    font-size: 16px;
}

.paragraph-2 {
    font-size: 14px;
}

.subscribe-1 {
    font-size: 12px;
}

.subscribe-2 {
    font-size: 9px;
}

.bold {
    font-weight: 800;
}

.normal {
    font-weight: 400;
}
