.button-conteiner {
    display: flex;
    padding: 0 8px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: 1px solid #cfd8dc;
    border-radius: 55px;
}

.button-conteiner button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 12px;
    font-size: 20px;
}
