.input {
    display: flex;
    padding: 14px 16px;
    border-radius: 12px;
    border: 1px solid #cfd8dc;
    background: #fff;
    flex: 1;
}

.input:active {
    border: 1px solid #ffe44d;
}

.input-error {
    border: 1px solid #f44336;
}

.input span {
    flex: 1;
}
