.search-result-text {
    padding: 20px 0;
}

.search-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    gap: 1em;
}
